# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/


# Logs and Output Files
*.log
*.out
*.txt

# Database
*.sqlite3

# Operating System Files
.DS_Store
Thumbs.db

# Airflow
airflow.cfg
airflow.db

# Other Folders
logs/
